DATABASE_URL="mysql://root:your_password@localhost:3306/campously"
JWT_SECRET="change_this_to_a_long_random_secret_minimum_32_chars"
JWT_REFRESH_SECRET="change_this_refresh_secret_minimum_32_chars"
FRONTEND_URL="http://localhost:3000"
PORT=5000
API_PUBLIC_URL="http://localhost:5000"
NODE_ENV="development"
